In [218]:
import numpy as np
import pandas as pd
#Creating a dictionary (named student) of 10 students with name, relationship status, age and department columns
student = {'name':['Ade', 'Segun', 'Funke', 'Omon', 'Deborah', 'Boluwatife', 'Oluwatobi', 'Onaopemipo', 'Chiamaka', 'Aralola'],
           'relationship':['Single', 'Married', 'Complicated', 'Single', 'Single', 'Married', 'Complicated', 'Married', 'Married', 'Single'],
           'age':[30, 29, 28, 27, 26, 25, 24, 23, 22, 21],
           'department':['Chemistry', 'Physics', 'Biology', 'Statistics', 'Arts', 'Music', 'GNS', 'FST', 'Geology', 'Nutrition']}
student['cgpa'] = [3.2, 4.6, 5.0, 1.9, 4.2, 2.3, 3.4, 4.0, 3.5, 4.7]

In [219]:
#Converting a dictionary to a dataframe(df)
df = pd.DataFrame(student)

In [220]:
df['admission_date'] = ['2020-1-1', '2018-12-4', '2019-6-16', '2020-7-20', '2021-8-23', '2020-11-11', '2019-8-23', '2018-2-12', '2021-5-25', '2018-10-30']
df['gender'] = ['Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female']

In [221]:
df

         name relationship  age  department  cgpa admission_date  gender
0         Ade       Single   30   Chemistry   3.2       2020-1-1    Male
1       Segun      Married   29     Physics   4.6      2018-12-4    Male
2       Funke  Complicated   28     Biology   5.0      2019-6-16  Female
3        Omon       Single   27  Statistics   1.9      2020-7-20  Female
4     Deborah       Single   26        Arts   4.2      2021-8-23  Female
5  Boluwatife      Married   25       Music   2.3     2020-11-11  Female
6   Oluwatobi  Complicated   24         GNS   3.4      2019-8-23  Female
7  Onaopemipo      Married   23         FST   4.0      2018-2-12    Male
8    Chiamaka      Married   22     Geology   3.5      2021-5-25  Female
9     Aralola       Single   21   Nutrition   4.7     2018-10-30  Female

In [222]:
#Creating dataframe (df2) with all the columns (name, age, department, admission_date and gender) from a list
list = [['Seun', 29, 'Economics', 3.8, '2018-7-10', 'Male'], ['Afolakemi', 26, 'Accounting', 4.8, '2019-7-30', 'Female'], ['Adeola', 28, 'Bus Admin', 3.0, '2017-12-10', 'Male'], ['Adesewa', 19, 'Anatomy', 2.8, '2021-10-10', 'Female'], ['Olawale', 25, 'Philosophy', 4.6, '2020-4-20', 'Male'], ['Stephen', 22, 'English', 4.0, '2021-6-30', 'Male'], ['Adetoun', 25, 'Sociology', 1.8, '2020-11-10', 'Female'], ['Titilope', 27, 'History', 2.7, '2019-3-19', 'Female'], ['Olufemi', 23, 'Mathematics', 4.9, '2021-8-18', 'Male'], ['Fadekemi', 20, 'Geaography', 3.4, '2020-1-10', 'Female']]
df2 = pd.DataFrame(list, columns =['name', 'age', 'department', 'cgpa', 'admission_date', 'gender'])

In [223]:
df2

        name  age   department  cgpa admission_date  gender
0       Seun   29    Economics   3.8      2018-7-10    Male
1  Afolakemi   26   Accounting   4.8      2019-7-30  Female
2     Adeola   28    Bus Admin   3.0     2017-12-10    Male
3    Adesewa   19      Anatomy   2.8     2021-10-10  Female
4    Olawale   25   Philosophy   4.6      2020-4-20    Male
5    Stephen   22      English   4.0      2021-6-30    Male
6    Adetoun   25    Sociology   1.8     2020-11-10  Female
7   Titilope   27      History   2.7      2019-3-19  Female
8    Olufemi   23  Mathematics   4.9      2021-8-18    Male
9   Fadekemi   20   Geaography   3.4      2020-1-10  Female

In [224]:

import datetime as dt

In [225]:
#Converting the date to datetime object

df['admission_date'] = pd.to_datetime(df['admission_date'])

In [226]:
df['year'] = df['admission_date'].dt.year
df['year']

0    2020
1    2018
2    2019
3    2020
4    2021
5    2020
6    2019
7    2018
8    2021
9    2018
Name: year, dtype: int64

In [227]:
df['month'] = df['admission_date'].dt.month
df['month']

0     1
1    12
2     6
3     7
4     8
5    11
6     8
7     2
8     5
9    10
Name: month, dtype: int64

In [228]:

df['day'] = df['admission_date'].dt.day
df['day']

0     1
1     4
2    16
3    20
4    23
5    11
6    23
7    12
8    25
9    30
Name: day, dtype: int64

In [229]:
# Checking for the data types of all columns
df.dtypes

name                      object
relationship              object
age                        int64
department                object
cgpa                     float64
admission_date    datetime64[ns]
gender                    object
year                       int64
month                      int64
day                        int64
dtype: object

In [230]:
# Checking for missing values
df.isnull().sum()

name              0
relationship      0
age               0
department        0
cgpa              0
admission_date    0
gender            0
year              0
month             0
day               0
dtype: int64

In [231]:
#Checking for the percentage of  missing values
df. isnull(). sum() * 100 / len(df)

name              0.0
relationship      0.0
age               0.0
department        0.0
cgpa              0.0
admission_date    0.0
gender            0.0
year              0.0
month             0.0
day               0.0
dtype: float64

In [232]:
#Checking the unique values in each of the columns
df.nunique

<bound method DataFrame.nunique of          name relationship  age  department  cgpa admission_date  gender  \
0         Ade       Single   30   Chemistry   3.2     2020-01-01    Male
1       Segun      Married   29     Physics   4.6     2018-12-04    Male
2       Funke  Complicated   28     Biology   5.0     2019-06-16  Female
3        Omon       Single   27  Statistics   1.9     2020-07-20  Female
4     Deborah       Single   26        Arts   4.2     2021-08-23  Female
5  Boluwatife      Married   25       Music   2.3     2020-11-11  Female
6   Oluwatobi  Complicated   24         GNS   3.4     2019-08-23  Female
7  Onaopemipo      Married   23         FST   4.0     2018-02-12    Male
8    Chiamaka      Married   22     Geology   3.5     2021-05-25  Female
9     Aralola       Single   21   Nutrition   4.7     2018-10-30  Female

   year  month  day
0  2020      1    1
1  2018     12    4
2  2019      6   16
3  2020      7   20
4  2021      8   23
5  2020     11   11
6  2019      8   23
7  2018      2   12
8  2021      5   25
9  2018     10   30  >

In [233]:
# Checking the number of unique values in each of the columns
df.nunique()

name              10
relationship       3
age               10
department        10
cgpa              10
admission_date    10
gender             2
year               4
month              9
day                9
dtype: int64

In [234]:
# Checking value counts for each of the columns
df.value_counts()

name        relationship  age  department  cgpa  admission_date  gender  year  month  day
Ade         Single        30   Chemistry   3.2   2020-01-01      Male    2020  1      1      1
Aralola     Single        21   Nutrition   4.7   2018-10-30      Female  2018  10     30     1
Boluwatife  Married       25   Music       2.3   2020-11-11      Female  2020  11     11     1
Chiamaka    Married       22   Geology     3.5   2021-05-25      Female  2021  5      25     1
Deborah     Single        26   Arts        4.2   2021-08-23      Female  2021  8      23     1
Funke       Complicated   28   Biology     5.0   2019-06-16      Female  2019  6      16     1
Oluwatobi   Complicated   24   GNS         3.4   2019-08-23      Female  2019  8      23     1
Omon        Single        27   Statistics  1.9   2020-07-20      Female  2020  7      20     1
Onaopemipo  Married       23   FST         4.0   2018-02-12      Male    2018  2      12     1
Segun       Married       29   Physics     4.6   2018-12-04      Male    2018  12     4      1
dtype: int64

In [235]:
# df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            10 non-null     object
 1   relationship    10 non-null     object
 2   age             10 non-null     int64
 3   department      10 non-null     object
 4   cgpa            10 non-null     float64
 5   admission_date  10 non-null     datetime64[ns]
 6   gender          10 non-null     object
 7   year            10 non-null     int64
 8   month           10 non-null     int64
 9   day             10 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 928.0+ bytes

In [236]:
# df.describe()
df.describe()

            age      cgpa         year      month        day
count  10.00000  10.00000    10.000000  10.000000  10.000000
mean   25.50000   3.68000  2019.400000   7.000000  16.500000
std     3.02765   1.02285     1.173788   3.620927   9.419247
min    21.00000   1.90000  2018.000000   1.000000   1.000000
25%    23.25000   3.25000  2018.250000   5.250000  11.250000
50%    25.50000   3.75000  2019.500000   7.500000  18.000000
75%    27.75000   4.50000  2020.000000   9.500000  23.000000
max    30.00000   5.00000  2021.000000  12.000000  30.000000

In [237]:
#determining the number of rows and columns
df.shape

(10, 10)

In [243]:
df.query('gender == Male')

UndefinedVariableError: ignored

In [239]:
#the mean,max, min, sum CGPA
df['cgpa'].mean()

3.6800000000000006

In [240]:
df['cgpa'].max()

5.0

In [241]:
df['cgpa'].min()

1.9

In [242]:
df['cgpa'].sum()

36.800000000000004

In [244]:
df

,name,relationship,age,department,cgpa,admission_date,gender,year,month,day
0,Ade,Single,30,Chemistry,3.2,2020-01-01,Male,2020,1,1
1,Segun,Married,29,Physics,4.6,2018-12-04,Male,2018,12,4
2,Funke,Complicated,28,Biology,5.0,2019-06-16,Female,2019,6,16
3,Omon,Single,27,Statistics,1.9,2020-07-20,Female,2020,7,20
4,Deborah,Single,26,Arts,4.2,2021-08-23,Female,2021,8,23
5,Boluwatife,Married,25,Music,2.3,2020-11-11,Female,2020,11,11
6,Oluwatobi,Complicated,24,GNS,3.4,2019-08-23,Female,2019,8,23
7,Onaopemipo,Married,23,FST,4.0,2018-02-12,Male,2018,2,12
8,Chiamaka,Married,22,Geology,3.5,2021-05-25,Female,2021,5,25
9,Aralola,Single,21,Nutrition,4.7,2018-10-30,Female,2018,10,30

In [246]:
df.to_csv('DS087-project1.csv', index=False)